{% load static %}
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="{% static 'crm/style.css' %}">
</head>
<body>

<div id="top">
<h1>Low Effort CRM</h1>
</div>

<div id="menu">
<a href="index"><h2>Register Panel</h2></a>
<h2>Show:</h2>
<ul>
<li><a href="usersManagement">Users</a><br></li>
<li><a href="companiesManagement">Firms</a><br></li>
<li><a href="contactManagement">Contacts</a><br></li>
<li><a href="notesManagement">Notes</a><br></li>
<li><a href="rulesManagement">Rules</a><br></li>
<li><a href="tradesManagement">Trades</a><br></li>
</ul>
<h2>Add:</h2>
<ul>
<li><a href="userAddPanel">User</a><br></li>
<li><a href="companyAddPanel">Firm</a><br></li>
<li><a href="contactAddPanel">Contact</a><br></li>
<li><a href="noteAddPanel">Note</a><br></li>
</ul>
<h2><a href="admin">Admin Panel</a><br></h2>
</div>

<div id="content">
{% if users_list %}
	<table border = "1">
	<th>Imię</th><th>Nazwisko</th><th>Data urodzenia</th><th>Login</th><th>Hasło</th><th>Rola</th><th>Czy aktywny</th><th>Usuń</th><th>Edytuj</th>
    {% for user in users_list %}
	<tr>
        <td>{{ user.name }}</td><td>{{ user.surname }}</td><td>{{ user.date_of_birth }}</td><td>{{ user.login }}</td><td>{{ user.password }}</td><td>{{ user.rule.name }}</td><td>{{ user.id_deleted }}</td><td><a href="{% url 'deleteUser' user.id %}">Usuń</a></td><td><a href="{% url 'userEditPanel' user.id %}">Edytuj</a></td>
    </tr>
	{% endfor %}
	</table>
{% else %}
    <p>Brak zarejestrowanych użytkowników.</p>
{% endif %}
<form action='allUsers' method='GET'>
<button type='submit'> Pokaż wszystkich użytkowników</button>
</form>
<form action='deletedUsers' method='GET'>
<button type='submit'> Pokaż tylko nieaktywnych użytkowników</button>
</form>
<form action='activeUsers' method='GET'>
<button type='submit'> Pokaż tylko aktywnych użytkowników</button>
</form>
</div>

</body>
</html>